{% extends 'base.html' %}



{% block title %}
{% block platform %}{% endblock %}
Platform
{% endblock %}

{% block body_block %}
		{% if not selection %}
		<div class="page-header">
		
                <h1>Enter your targeting options:</h1>
				<h2>Click on the rows of the table in order to add/delete categories</h2>
</div>
{% endif %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.6/jqc-1.12.3/dt-1.10.12/b-1.2.2/cr-1.3.2/fc-3.2.2/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/jqc-1.12.3/dt-1.10.12/b-1.2.2/fc-3.2.2/datatables.min.js"></script>
{% block platform_body %} {% endblock %}
{% endblock %}
