{% extends 'base_platform.html' %}



{% block platform %} Google {% endblock %}

{% block platform_body %}
<div class="container">
 
  <div class="row">
    <div class="col-sm-6">
	<div class="btn-group-vertical" role="group" aria-label="...">
{% for cat in googleAdAffinity %}
<button type="button" class="btn btn-default" id="left">{{cat}}</button>
{% endfor %}
</div>

	</div>
<div class="col-sm-6">
	<div class="btn-group-vertical" role="group" aria-label="..." id = "right">


</div>

	</div>
  </div>
</div>


<script>

 $('#left').on('click', function () {
    var div = document.getElementById("right");
	var $btn = $(this);
	div.appendChild(btn);
    
  })

</script>






{% endblock %}