{% extends 'base_platform.html' %}



{% block platform %} Google {% endblock %}

{% block platform_body %}

<style>


btn.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}


</style>

<div class="container">
 
  <div class="row">

    <div class="col-sm-6">
	


<table id="example" class="table table-striped table-bordered" width="100%"></table>

	</div>
	

<div class="col-sm-6">

<div class="btn-group-vertical" role="group" aria-label="..." id = "right">

<table id="example2" class="table table-striped table-bordered" width="100%" data = "hello">

</table>

</div>

</div>

</div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.6/jqc-1.12.3/dt-1.10.12/b-1.2.2/cr-1.3.2/fc-3.2.2/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/jqc-1.12.3/dt-1.10.12/b-1.2.2/fc-3.2.2/datatables.min.js"></script>



<!--
<script src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></script>
-->
<script>



/* Toggle between adding and removing the "active" and "show" classes when the user clicks on one of the "Section" buttons. The "active" class is used to add a background color to the current button when its belonging panel is open. The "show" class is used to open the specific accordion panel */

/*
var acc = document.getElementsByClassName("btn btn-default");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
    }
}
 
*/

var dataSet = {{ googleAdAffinity | safe }}


jQuery(document).ready(function() {
    $('#example').DataTable( {
        data: dataSet,
        columns: [
            { title: "Category" }
        ],
	select: true
    } );

$('#example2').DataTable( {
        //data: ,
        columns: [
            { title: "Category" }
        ],
	select: true
    } );

$('#example tbody').on('click', 'td', function (e) {
    e.preventDefault(); 
    var table = $('#example').DataTable();
    var tableSelect = $('#example2').DataTable();
    var found = 0;
    var rowsTs = tableSelect.cells().data();
    var toAdd = table.cell( this ).data();
    for (var i=0; i<rowsTs.length;i++){
    if (rowsTs[i] === toAdd){
        found++;
        break;
       }
    }
    
    if (found==0){
	tableSelect.row.add( [
            toAdd
        ] ).draw( false );
    //alert( tableSelect.cells().data());
    }
});

} );


/*

*/
</script>






{% endblock %}
