{% extends 'base.html' %}



{% block title %}Index{% endblock %}

        {% block body_block %}

<div class="page-header">

                <h1>Guidelines</h1>

</div class="col-sm-6 col-md-6">
		
			<h2>Please read the following guidelines:</h2>
			
			<h3>First Step:</h3>
			<p>Go on the home page and after logging in, select the platform you want to start with</p>
			<p>Either Facebook or Google, choose the one you already have access to the targeting options</p>
			
			<h3>Second Step:</h3>
			<p>The table on the left will display all the audience targeting options for the selected platform, the one on the left gather all the selected categories</p>
			<p>For Google you have the In-Market Categories, Affinity Categories and Product Services categories</p>
			<p>For Facebook you have the Behaviors Categories and Interest Categories</p>
			<p>After selecting your categories, when you'll click on 'Proceed' you'll get the top 10 most similar categories of the other platform</p>
			<p>You can add and delete selections by just clicking on the cells of the table</p>
		
			<h3>Third Step:</h3>
			<p>The output of the recommendations for your selection will be under the format: [Selected_Category, Recommended Category, Similiarity rate]</p>
			<p>You can delete the recommendations that you judge not relevant by selecting it (clicking on the cell) and press the delete button</p>
			<p>You can delete multiple rows by selecting several cells and clicking on the delete buttons until all selected categories are deleted (last selected category is deleted)</p>
			<p>By pressing the 'Save' button you can save your session by giving it a name and you can find it in the 'Past Sessions' Tab in which you'll also be able to add more categories in for each selection</p>
			
			<h3>Information about the addition and deletion of categories</h3>
			<p>Once you get the first recommendation for your original selection, save your session and go to the session page (by going through 'Past Sessions')</p>
			<p>There using the table on the right you can add any missing category that seems relevant, it's up to you. You need tofirst select the category you want to add to in the select menu above<p>
			<p>You can add categories one by one, using the 'Add' button. Make sure you select the cell you want to add. A cell is selected when its background turns grey and stays grey</p>
			<p>Don't forget to save your session each time.</p>
		
		<div>
			 
		</div>
			
                    <div class="btn-group" role="group" aria-label="...">
					<a class="btn btn-primary btn-lg" href="{% url 'platform' %}" role="button">Let's get started!</a>
					</div>
{% endblock %}