{% extends 'base.html' %}



{% block title %}Index{% endblock %}

        {% block body_block %}

<div class="page-header">

                <h1>Welcome!</h1>

</div>
            <div class="panel panel-primary">
               <div class="panel-heading">
			   <h3 class="panel-title" >Top Five Categories</h3>
               </div>


            </div>
			
			<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Pages</h3>
			</div>
                    <strong>There are no categories present.</strong>
            </div>

            </div>



{% endblock %}