{% extends 'base.html' %}



{% block title %} Past Sessions {% endblock %}

{% block body_block %}

<div class="page-header">

                <h1>Here are your past sessions</h1>

</div>
			
	


	<!--- Have a list of past sessions with date created, name and link to the session page --->
	 {% if sessions %}
                {% for sesh in sessions %}
            
 
	<li><a href="session/{{ sesh.pk }}">{{ sesh.name }}</a></li>
	   {% endfor %}
	   
	   
	   {% else %}
	    <strong>There are no sessions present.</strong>
        {% endif %}
{% endblock %}

